<div class="wrapper">
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/digit" routerLinkActive="active">Digits</a></li>
      <li><a routerLink="/drawing">Drawings</a></li>
    </ul>
  </nav>
  <div class="main-content">
    <div class="draw-area">
      <app-drawable-canvas></app-drawable-canvas>
    </div>
    <div class="graph">
      
    </div>
    <div class="actions">
      <div class="action-btns">
        <button class="btn reset">Reset</button>
        <button type="submit" class="btn predict">Predict</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>