<div class="wrapper">
  <nav class="main-nav">
    <ul>
      <li><a href="#">Digits</a></li>
      <li><a href="#">Drawings</a></li>
    </ul>
  </nav>
  <div class="main-content">
    <div class="draw-area">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus deserunt expedita voluptate?
    </div>
    <div class="graph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, atque!
    </div>
    <div class="actions">
      <div class="action-btns">
        <button class="btn reset">Reset</button>
        <button type="submit" class="btn predict">Predict</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>